# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

fast_api_bakend/.vscode
fast_api_bakend/.idea
fast_api_bakend/.DS_Store
fast_api_bakend/*.pyc
fast_api_bakend/__pycache__
fast_api_bakend/.pytest_cache
fast_api_bakend/.mypy_cache
fast_api_bakend/.pytest_cache
fast_api_bakend/.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production
.
